@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}
body {
  background-image: url("img/drawing.png");
  background-repeat: no-repeat;
  background-size: 100vw 2000px;
}
/* -------------------navbar------------------- */
nav {
  margin: 5px 40px;
  padding: 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  color: rgb(255, 149, 87);
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 600;
}
ul {
  font-family: "Lato", sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  gap: 40px;
}
li a {
  transition: 500ms;
  color: rgb(255, 255, 255);
}
li a:hover,
li a:focus {
  color: rgb(0, 0, 0);
  transition: 200ms;
}
/* -------------------socials--------------------- */
.link {
  padding: 20px 8px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: rgb(34, 34, 34);
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: absolute;
  top: 40%;
}
.link a {
  transition: 400ms;
}
.link a:hover {
  transform: scale(1.6);
  transition: 200ms;
}
.divider {
  height: 80vh;
  display: flex;
  justify-content: space-between;
}
.right-half,
.left-half {
  border: 2px dotted brown;
}
/* ----------------------left-half------------------- */
.heading-wrapper {
  border: 2px solid blueviolet;
  padding: 20px;
  width: 50vw;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  font-size: 40px;
}
h2,
p {
  margin: 1rem 2rem;
}
h2 a {
  color: tomato;
}
p {
  color: grey;
}
/* ---------------------right-half-------------------- */
.grid-container {
  padding: 10px;
  border: 2px solid gray;
  display: grid;
  width: 50vw;
  height: 60vh;
  grid-template-areas:
    "one one one"
    "two three three"
    "two four four";
  gap: 20px;
  z-index: 99;
}
.grid {
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.grid:nth-child(1) {
  grid-area: one;
}
.grid:nth-child(2) {
  grid-area: two;
}
.grid:nth-child(3) {
  grid-area: three;
}
.grid:nth-child(4) {
  grid-area: four;
}
